@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A7B5CB;
  --secondary: #FFBD59;
  --dark: #25242A;
  background-color: var(--primary);
  overflow: hidden;
}

body {
  color: var(--dark);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
